.commit-container {
  font-family: Arial, sans-serif;
}

.commit-main {
  padding: 20px;
}

.commit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.commit-Diary {
  margin-left: 20px;
  flex: 1;
}
.commit-Diary h1{
  color: #F19143;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.commit-Diary p{
  color: grey;
  font-size: 30px;
  font-weight: bold;

  margin: 5px 0 0 0;
}

.commit-Diary-userinfo {
  display: flex;
  align-items: center;
}

.commit-image1 {
  width: 250px;
  height: 250px;
  margin-right: 20px;
  border-radius: 50%;
}

.user-details {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.user-nickname1{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.experience-bar1 {
  width: 200px; /* 경험치 바의 전체 길이 */
  height: 20px; /* 경험치 바의 높이 */
  background-color: #cccccc; /* 회색 배경색 */
  border-radius: 10px; /* 둥근 모서리 */
  overflow: hidden; /* 내부 요소의 넘침 처리 */
  margin-top: 10px;

}

.current-experience1 {
  height: 100%;
  background-color: #4caf50; /* 초록색 배경색 */
}

.github-link1 {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
}

.github-link1:hover {
  text-decoration: underline;
}

.github-icon {
  margin-right: 5px;
  font-size: 1.2em;
}

.commit-body {
  display: flex;
  justify-content: space-between;
}

.commit-body-child {
  flex: 1;
  margin: 0 10px;
}

.commit-history,
.commit-gpt-reperence {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 20px;
}

.commit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

.commit-item a {
  color: #000000;
  text-decoration: none;
  font-size: 28px;

}

.commit-item a:hover {
  text-decoration: underline;
}

.commit-number {
  margin-right: 10px; /* 순번과 제목 사이의 간격 조절 */
  font-size: 28px;

}

.commit-date {
  margin-left: auto; /* 날짜를 오른쪽으로 정렬 */
  padding-left: 10px; /* 제목과 날짜 사이의 간격 조절 */
  font-size: 28px;
}
.commit-gpt-reperence p{
  font-size: 25px;
}
.commit-gpt-reperence a{
  font-size: 25px;
}
.feedback-buttons {
  display: flex;
  justify-content: center; /* 가로 방향 중앙 정렬 */

  margin-top: 10px;
}

.feedback-buttons button {
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.feedback-buttons .like-button,
.feedback-buttons .dislike-button {
  font-size: 90px; /* 버튼 크기를 키움 */
}
.feedback-buttons span {
  font-size: 90px; /* 숫자 크기 */
  margin: 0 10px;
}