/* FirstPage.css */


.content-container {
    margin: 200px;
    text-align: center; /* 내용을 가운데 정렬 */
  }
  
  .tab-bar {
    width: 100%;
    background-color: #f9e8b6;
    padding: 16px;
    display: flex;
    justify-content: space-between;
  }
  
  .tab-group {
    display: flex;
  }
  
  .tab-item {
    margin-right: 20px;
    cursor: pointer;
    font-size: 24px; /* Font size */
    font-weight: bold; /* Make the font weight bold */
  }
  
  .logout-button {
    cursor: pointer;
    font-size: 24px; /* Font size */
    font-weight: bold; /* Make the font weight bold */
  }
  
  .logout-link {
    color: #000000;
  }
  
 
  .centered-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 800px; /* 직사각형을 가운데 정렬할 컨테이너의 높이 */
    margin-top: 30px;
  }
  
  .large-rectangle {
    border: 30px solid #C5A178; /* 테두리 스타일, 두께, 색상 설정 */
    width: 558px;
    height: 682px;
    background-color: #FFF6EC; /* 직사각형 배경색 */
    border-radius: 20px; /* 모서리를 10px만큼 둥글게 설정 */
  }
  .commit-status {
    background-color: #C5A178;
    padding-top: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 400px;
    font-size: 30px; /* Increase font size to 24 pixels */
    font-weight: bold; /* Make the font weight bold */
  }
  .profile-image {
    width: 300px;
    height: 300px;
    /* 다른 스타일 속성들 */
  }
  .current-experience {
    width: 25%; /* 현재 경험치의 너비 (전체 경험치 200 중 50의 25%) */
    height: 100%;
    background-color: #4caf50; /* 초록색 배경색 */
  }
  
  
  .experience-bar {
    width: 200px; /* 경험치 바의 전체 길이 */
    height: 20px; /* 경험치 바의 높이 */
    background-color: #cccccc; /* 회색 배경색 */
    border-radius: 10px; /* 둥근 모서리 */
    overflow: hidden; /* 내부 요소의 넘침 처리 */
  }
  .experience-bar-container {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    margin-top: 20px; /* 경험치 바와 위쪽 요소 간의 간격 조절 */
  }
  .github-link a,
.blog-link a {
    font-size: 30px; /* Font size */
    font-weight: bold; /* Make the font weight bold */
}

/* 커밋 요약 입력 */
.commit-summary-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .commit-summary {
    width: 500px;
    height: 200px;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .textarea-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .summary-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .commitcomment {
    width: 500px;
    height: 200px;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .record-button {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    background-color: #C5A178;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .record-button:hover {
    background-color: #9B7B51;
  }