
.group-page-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.main-rectangle {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.group-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.group-title h2 {
  color: #ffcc00;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.group-title p {
  color: grey;
  font-size: 1em;
  font-weight: bold;

  margin: 5px 0 0 0;
}

.group-create-button button {
  background-color: #ffcc00; 
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
}
.group-list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px;
  padding: 0;
  list-style-type: none; /* Remove bullet points */
  margin: 0;
}

.group-list li {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
}

.group-icon {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}

.group-details {
  margin-top: 10px;
}

.group-name {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.group-decre {
  color: grey;
  font-size: 30px;
  margin: 5px 0 0 0;
}