.group-detail-cat {
  display: flex;
  flex-direction: row; 
  justify-content: center; /* 수평 가운데 정렬 */
}
.group-member{
  width: 800px;
}
.group-my-profile,
.group-member {
  border: 1px solid #ccc; /* 회색 윤곽선 추가 */
  border-radius: 10px; /* 둥근 윤곽선을 위한 경계 반지름 설정 */
  padding: 15px; /* 내용과 윤곽선 사이의 간격 조정 */
  margin: 20px; /* 요소들 간의 간격 조정 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* 음영 효과 추가 */
}

.group-info{
  margin-bottom: 20px;

}
.group-tapbar {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-Page {
  font-size: 40px;
  font-weight: bold;
  color: #ffcc00;

}

.group-info-title {
  font-size: 25px;
  font-weight: bold;
}
.group-member-number{
  font-size: 25px;
  font-weight: bold;
}
.add-member-button {
  background-color: #ffcc00;
  color: black;
  font-size: 30px;
  font-weight: bold;
  
  /* 필요에 따라 추가적인 스타일을 지정할 수 있습니다. */
}
.add-member-button:hover  {
  background-color: #ffd700;
}
