.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
}

.hello-world {
  color: #ff6b6b; /* Adjust color as needed */
  font-size: 2em;
  margin-bottom: 0;
}

.welcome-text {
  color: #ff9f43; /* Adjust color as needed */
  margin-top: 0;
  margin-bottom: 2em;
}

.github-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github-icon {
  font-size: 5em;
}

.continue-with {
  margin: 1em 0;
  color: #aaa;
}

.github-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.5em 2em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1em;
}

.terms-text {
  color: #aaa;
  font-size: 0.9em;
  margin-top: 2em;
}

.terms-text a {
  color: #aaa;
  text-decoration: none;
}

.terms-text a:hover {
  text-decoration: underline;
}
