.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
}

.hello-world {
  color: #ff6b6b; /* Adjust color as needed */
  font-size: 3em; /* Increased from 2em */
  margin-bottom: 0.5em; /* Adjusted for better spacing */
}

.welcome-text {
  color: #ff9f43; /* Adjust color as needed */
  font-size: 1.5em; /* Added for size increase */
  margin-top: 0;
  margin-bottom: 3em; /* Increased for better spacing */
}

.github-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github-icon {
  font-size: 7.5em; /* Increased from 5em */
}

.continue-with {
  margin: 1.5em 0; /* Increased for better spacing */
  color: #aaa;
  font-size: 1.2em; /* Added for size increase */
}

.github-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.75em 3em; /* Increased from 0.5em 2em */
  font-size: 1.5em; /* Increased from 1em */
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1.5em; /* Increased for better spacing */
}

.terms-text {
  color: #aaa;
  font-size: 1.35em; /* Increased from 0.9em */
  margin-top: 3em; /* Increased for better spacing */
}

.terms-text a {
  color: #aaa;
  text-decoration: none;
}

.terms-text a:hover {
  text-decoration: underline;
}
