.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 800px; /* 너비를 자동으로 조절 */
  max-width: 90%; /* 최대 너비를 설정 */
  z-index: 1001;
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 24px;
}

.modal-close {
  cursor: pointer;
}

.badge-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badge-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px; /* 각 뱃지 항목의 너비 */
  margin: 10px; /* 뱃지 항목 간의 간격 */
  text-align: center;
}

.badge-item img {
  width: 300px; /* 뱃지 이미지를 적절한 크기로 설정 */
  height: 300px;
  margin-bottom: 10px; /* 이미지와 텍스트 간의 간격 */
}

.badge-item h3 {
  font-size: 16px; /* 배지 이름의 글꼴 크기 */
  margin: 0; /* 여백 제거 */
}

.badge-description {
  display: none;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1002;
}

.badge-item:hover .badge-description {
  display: block;
}
