.sec1 {
  display: flex;
  justify-content: center; /* Center align the contents horizontally */
  align-items: flex-start; /* Align items at the top */
  width: 100%; /* Set the width of the container to 100% */
  padding-top: 15px;
}

.sec1-ch {
  display: inline-block;
  width: 800px; /* Set the width of the element to 100 pixels */
  margin-left: 60px;
}
.paragraph1{
  margin-top: 200px;
}
.paragraph1 p {
  color: #f19143; 
  font-size: 50px; 
}
.paragraph2 p {
  color: gray; /* Set text color to gray */
  font-size: 30px; /* Set font size to 24 pixels */
}
.paragraph3 h2 {
  color: #FF773D; /* Set h3 text color to yellow */
  font-size: 100px;
  font-family: "Bebas Neue", sans-serif;
}

.paragraph3 p {
  font-size: 25px; /* Set font size of p elements to 15 pixels */
}